@layer components {
    .toc {
      @apply text-sm text-muted-foreground;
    }
  
    .toc ul {
      @apply space-y-2 list-none pl-4;
    }
  
    .toc a {
      @apply hover:text-primary transition-colors duration-200;
    }
  
    .toc > ul {
      @apply pl-0;
    }
  }